@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  font-smoothing: auto !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
}

header {
  max-width: 1440px !important;
  height: auto !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

h1 {
  @apply text-h1;
}
h2 {
  @apply text-h2;
}
h3 {
  @apply text-h3;
}
h4 {
  @apply text-h4;
}

/* Swiper Slider Style */
.swiper-button-disabled {
  background-color: #f5f5f5;
  color: #9fa3a6;
}

#SliderCardIntegrate .swiper-wrapper {
  align-items: center;
}

#SliderCardIntegrate .swiper-container {
  width: 100vw;
}
